<div cds-layout="grid cols@sm:6 cols@md:4 cols@lg:3 gap:xl align:center">
  @if (recipes$ | async; as recipes) {
    @for (recipe of recipes; track recipe.id) {
      <div cds-layout="m-t:none" class="card">
        <div class="card-img">
          <img [src]="recipe.imageUrl" [alt]="recipe.title" />
        </div>
        <div cds-text="center" class="card-header">{{ recipe.title }}</div>
      </div>
    } @empty {
      <div cds-layout="col:12">There aren't any recipes</div>
    }
  } @else {
    <clr-spinner cds-layout="col:12">Loading ...</clr-spinner>
  }
</div>
