<div class="clr-row clr-justify-content-center">
  @if (recipes$ | async; as recipes) {
    @for (recipe of recipes; track recipe.id) {
      <div class="clr-col-xl-3 clr-col-lg-4 clr-col-md-6 clr-col-12">
        <div class="card">
          <div class="card-img">
            <img [src]="recipe.imageUrl" [alt]="recipe.title" />
          </div>
          <div class="card-header">{{ recipe.title }}</div>
        </div>
      </div>
    } @empty {
      <div>There aren't any recipes</div>
    }
  } @else {
    <div class="clr-col-auto">
      <clr-spinner>Loading ...</clr-spinner>
    </div>
  }
</div>
