<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a routerLink="/">
        <cds-icon shape="book"></cds-icon>
        <span class="title">{{ title }}</span>
      </a>
    </div>
    <div class="header-nav">
      <a routerLink="/create" class="nav-link" aria-label="Create recipe"
        >New recipe</a
      >
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet />
    </div>
  </div>
</div>
