clr-input-container input[type='text'] {
  width: 100%;
}

// Can't make fieldset a grid in Chrome
// https://stackoverflow.com/a/72026002
.fieldset > fieldset {
  display: contents;
}

.fieldset__control > clr-input-container {
  margin-inline: calc(-1 * var(--cds-global-space-6));
}
